<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form id="form" method="post" action="/user/post">
        <h2>Enter Your Good Name</h2>
        <input name="user" >
        <h2>Enter Your Mail That was Not Added before</h2>
        <input name="email" type="email">
        <h2>Enter Your password</h2>
        <input name="password" type="password">
        <button id="Submit">Submit</button>
    </form>
</body>
</html>