<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2>The Total Number Of Users Are :<%=count%></h2>
    <form method="get" action="/user/post">
    <button id="join">Join With Us</button>
    </form>
    <form method="get" action="/user">
        <button id="users">Show Users</button>
    </form>
</body>
</html>