<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>user</th>
            <th>email</th>
            <th>Edit</th>
        </tr>
        <% for (user of users){%>
            <tr>
            <td><%=user.id%></td>
            <td><%=user.user%></td>
            <td><%=user.email%></td>
            <td>
            <form method="GET" action="/user/<%=user.id%>/edit">
                <button id="blue">Edit Username Or Delete</button>
            </form>
            </td>
            </tr>
        <%}%>
    </table>
</body>
</html>